.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}

.button__login {
  color: greenyellow;
  border: 1px solid greenyellow;
  border-radius: 8px;
  font-size: $font-size-large;
  font-weight: 400;
  line-height: 1;
  padding: $m-size;
  background: transparent;
  :hover {
    background-color: greenyellow !important;
  }
}
.button__login:hover {
  color: black;
  opacity: 0.7;
  background-color: greenyellow;
}